<%- include('./partials/header') %>
    
<% if (user) { %>
    <h2>Welcome Back!</h2>
<% } else { %>
    <p>Please log in or sign up  to make posts!.</p>
<% } %>

    <%- include('./partials/footer') %>
