<%- include('./partials/header') %>
<div class ="container">
<% if (currentUser) { %>
    <script>
        window.location.href = '/posts'; // Redirect to the posts/index page
    </script>
<% } else { %>
    <h2>Welcome Back!</h2>
    <p>Please log in or sign up to make posts!</p>
<% } %>
</div>
<%- include('./partials/footer') %>
