body {
  padding: 50px;
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 150px; 
  height: 100%; 
  background-color: #333; 
  color: white; 
  padding: 20px; 
  overflow-y: auto; 
}

nav a {
  display: block; 
  text-decoration: none; 
  color: white; 
  margin-bottom: 10px; 
}

nav .login {
  background-color: #1da1f2; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center; 
}

nav .login img {
  width: 20px; 
  vertical-align: middle; 
  margin-left: 5px; 
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.post-show {
  border: 1px solid black;
  text-align: center;
}

.post {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
}

.post-details {
    font-size: 12px;
    color: #999;
}

.post-content {
    margin-top: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
    background-color: #0d8bf0;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-btn {
  background-color: transparent;
  color: #333;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 2px;
  margin-top: -5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  padding: 10px 0; 
  margin-top: -20px;
}

.dropdown-content a {
  background-color: #007bff;
  font-size: 15px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.post-form {
  position: relative; 
}

.post-form textarea {
  width: 100%; 
  height: 100px; 
}

.post-form button[type="submit"] {
  position: absolute;
  bottom: 0;
  right: 0;
}

.comments {
  border: 1px solid black;
}

.comment-form {
  text-align: center;
}