body {
  padding: 50px;
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(22, 21, 21);
}

p {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: left;
  color: white;
  margin-bottom: 20px;
}

h3 {
  text-align: center;
  color: white;
}

ul {
  list-style-type: none;
  text-align: center;
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 150px; 
  height: 100%; 
  background-color: #333; 
  color: white; 
  padding: 20px; 
  overflow-y: auto; 
}

nav a {
  display: block; 
  text-decoration: none; 
  color: white; 
  margin-bottom: 10px; 
}

nav .login {
  background-color: #999; 
  padding: 10px; 
  border-radius: 5px; 
  text-align: center; 
}

nav .login img {
  width: 20px; 
  vertical-align: middle; 
  margin-left: 5px; 
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    color: white
}

button[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
  background-color: #999;
}

.post-show {
  text-align: center;
  color: #ffffff;
  border: 1px solid white;
  background-color: #333;
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
}

.post {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

.post-details {
    font-size: 12px;
    color: #999;
}

.post-content {
    margin-top: 10px;
    background-color: black;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
    background-color: #999;
}

.dropdown {
  position: relative;
  float: right;
}

.dropdown-btn {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 4px;
  margin-top: -7px;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  padding: 10px 0; 
  margin-top: -20px;
}

.dropdown-content a {
  background-color: #333;
  font-size: 15px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.post-form {
  position: relative;
}

.post-form textarea {
  width: 100%; 
  height: 100px;
  border-radius: 10px;
}

.post-form button[type="submit"] {
float: right;
border-radius: 20px;
}

.post-detail img {
  width: 40px; /* Adjust the width according to your preference */
  height: 40px; /* Adjust the height according to your preference */
  margin-right: 2px; /* Adjust the margin to create space between the image and the username */
  top: 20px;
  border-radius: 20px;
}


.comments {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.comment-form {
  text-align: left;
}
.comment-form button {
  background-color: #999;
  border-radius: 20px;
  font-size: 10px;
}

.comment-form input {
  border-radius: 20px;
  background-color: #333;
  color: white
}


