<%- include('../partials/header') %>
<form action="/posts" method="POST">
    <textarea name="content" rows="4" cols="50" placeholder="What's on your mind?"></textarea><br>
    <button type="submit">Post</button>
<table>
    <section id="show-page">
        <% posts.forEach(function(post) { %> 
            <div><%= post.userName %></div> 
            <div>Posted: <%= post.createdAt.toLocaleDateString() %></div><br>
            <div><%= post.content %></div><br>
        <% }); %>
    </section>
</table>


