<%- include('../partials/header') %>
    
<% if (user) { %>
    <h2>New Post!</h2>
    <form action="/posts" method="POST">
        <textarea name="content" rows="4" cols="50" placeholder="What's on your mind?"></textarea><br>
        <button type="submit">Post</button>
    </form>
<% } else { %>
    <p>Please log in to make posts.</p>
<% } %>

    <%- include('../partials/footer') %>
